

body {
    /* margin: 0; */
    /* padding: 0; */
}


.content-wrap {
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
    border: 1px solid red;

}

section p {
    background-color: red;
}



.testr {
    color: blue;
}

.testr2 {
    background-color: purple
}